extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Andrew Whatmore

        p Full Stack JavaScript Developer

        .about-bio

          p 
            | Do you require secure app or website development?
            br
            br
            | Hi, I'm Andrew, and I am a Full Stack JavaScript Developer. Whether you require front-end, back-end or both, developing JavaScript apps is my hobby.
            br
            br
            | Security is paramount, which is why I am certified by IMB in Application Security for Developers to make sure your apps are secure. 
            br
            br
            | I have also been developing WordPress websites since 2021. This experience includes the development and management of eCommerce, subscriptions, email marketing, advertising, GDPR, and SEO.
            br
            br
            | I also completed Harvard University's famous CS50 course.


      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug
          li SEO

        h6 Contact Info

        ul
          li 555-555-1234
          li boffwareweb@gmail.com

        a.btn-link(href='https://www.linkedin.com/in/andrew-w-5441b5167/') LinkedIn
        a.btn-link(href='https://github.com/hagbeb') GitHub
        a.btn-link(href='https://x.com/home') Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back