extends layout.pug

block content

  article.portfolio-intro

    h1 Boffware Projects

    p This website is to showcase web sites and apps that I have created. Check out the projects below:


  article.portfolio-project-thumbs
    .projects-box.box.grid
      
        each project, index in projects

          .cell
            a(href=`/project/${index}`, target="_blank")
              img.thumbnail(src=`/static${project.image_urls[0]}`, alt=project.project_name)
              h5 #{project.project_name}

